[submodule "Ember/Vendor/spdlog"]
	path = Ember/Vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Ember/Vendor/GLFW"]
	path = Ember/Vendor/GLFW
	url = https://github.com/glfw/glfw.git

[submodule "Ember/Vendor/glm"]
	path = Ember/Vendor/glm
	url = https://github.com/g-truc/glm



